/* ---------- Icons (service) */
.wttasks-icon-service,
.wttasks-icon-service-sm { background-image: url('service@sm.svg') !important; background-size: contain; }
.wttasks-icon-service-off-sm { background-image: url('service@sm.svg') !important; background-size: contain; }
.wttasks-icon-service-md { background-image: url('service@md.svg') !important; background-size: contain; }
.wttasks-icon-service-off-md { background-image: url('service@md.svg') !important; background-size: contain; }
.wttasks-icon-service-lg { background-image: url('service@lg.svg') !important; background-size: contain; }
.wttasks-icon-service-off-lg { background-image: url('service@lg.svg') !important; background-size: contain; }
/* ---------- Icons (actions) */
.wttasks-icon-addCategory { background-image: url('category-add_16.svg') !important; background-size: contain; }
.wttasks-icon-editCategory { background-image: url('category-edit_16.svg') !important; background-size: contain; }
.wttasks-icon-deleteCategory { background-image: url('category-delete_16.svg') !important; background-size: contain; }
.wttasks-icon-newTask { background-image: url('task-new_16.svg') !important; background-size: contain; }
.wttasks-icon-addTask { background-image: url('task-add_16.svg') !important; background-size: contain; }
.wttasks-icon-addSubTask { background-image: none !important; background-size: contain; }
.wttasks-icon-openTask { background-image: url('task-open_16.svg') !important; background-size: contain; }
.wttasks-icon-openTaskSeries { background-image: none !important; background-size: contain; }
.wttasks-icon-importTasks { background-image: url('task-import_16.svg') !important; background-size: contain; }
.wttasks-icon-exportTasks { background-image: url('task-export_16.svg') !important; background-size: contain; }
.wttasks-icon-showLocation:before { content: '\f3c5'; font: var(--fa-font-solid); background-size: contain; } /* FIXME: defaults to FA for now */
.wttasks-icon-showContact:before { content: '\f007'; font: var(--fa-font-solid); background-size: contain; } /* FIXME: defaults to FA for now */
.wttasks-icon-setTaskCompleted { background-image: url('set-completed_16.svg') !important; background-size: contain; }
.wttasks-icon-sendByEmail { background-image: url('send-byemail_16.svg') !important; background-size: contain; }
/* ---------- Icons (others) */
.wttasks-icon-reminder-task { background-image: url('tasktype-default_16.svg') !important; background-size: contain; }
.wttasks-icon-reminder-task-recurring { background-image: url('tasktype-series_16.svg') !important; background-size: contain; }
.wttasks-icon-category { background-image: url('category_16.svg') !important; background-size: contain; }
.wttasks-icon-categoryMy { background-image: url('category-my_16.svg') !important; background-size: contain; }
.wttasks-icon-categoryIncoming { background-image: url('category-incoming_16.svg') !important; background-size: contain; }
.wttasks-icon-task { background-image: url('task_16.svg') !important; background-size: contain; }
.wttasks-icon-taskType-default { background-image: url('tasktype-default_16.svg') !important; background-size: contain; }
.wttasks-icon-taskType-seriesMaster { background-image: url('tasktype-series-master_16.svg') !important; background-size: contain; }
.wttasks-icon-taskType-seriesItem { background-image: url('tasktype-series-item_16.svg') !important; background-size: contain; }
.wttasks-icon-taskType-seriesBroken { background-image: url('tasktype-series-broken_16.svg') !important; background-size: contain; }
.wttasks-icon-taskStatus-NA { background-image: url('taskstatus-NA_16.svg') !important; background-size: contain; }
.wttasks-icon-taskStatus-CO { background-image: url('taskstatus-CO_16.svg') !important; background-size: contain; }
.wttasks-icon-taskStatus-IP { background-image: url('taskstatus-IP_16.svg') !important; background-size: contain; }
.wttasks-icon-taskStatus-CA { background-image: url('taskstatus-CA_16.svg') !important; background-size: contain; }
.wttasks-icon-taskStatus-WA { background-image: url('taskstatus-WA_16.svg') !important; background-size: contain; }
.wttasks-icon-taskImportance-1 { background-image: url('taskimportance-1_16.svg') !important; background-size: contain; }
.wttasks-icon-taskImportance-5 { background-image: url('taskimportance-5_16.svg') !important; background-size: contain; }
.wttasks-icon-taskImportance-9 { background-image: url('taskimportance-9_16.svg') !important; background-size: contain; }
.wttasks-icon-taskPrivate { background-size: contain; } .wttasks-icon-taskPrivate:before { content: '\f023'; font: var(--fa-font-solid); }
.wttasks-icon-sectionAttachments { background-size: contain; } .wttasks-icon-sectionAttachments:before { content: '\f0c6'; font: var(--fa-font-solid); }
.wttasks-icon-sectionAssignees { background-size: contain; } .wttasks-icon-sectionAssignees:before { content: ''; }
.wttasks-icon-sectionContact { background-size: contain; } .wttasks-icon-sectionContact:before { content: '\f007'; font: var(--fa-font-solid); }
.wttasks-icon-sectionDateTime { background-size: contain; } .wttasks-icon-sectionDateTime:before { content: '\f017'; font: var(--fa-font-solid); }
.wttasks-icon-sectionDescription { background-size: contain; } .wttasks-icon-sectionDescription:before { content: '\f036'; font: var(--fa-font-solid); }
.wttasks-icon-sectionDocRef { background-size: contain; } .wttasks-icon-sectionDocRef:before { content: '\f05a'; font: var(--fa-font-solid); }
.wttasks-icon-sectionDue { background-size: contain; } .wttasks-icon-sectionDue:before { content: '\f273'; font: var(--fa-font-solid); }
.wttasks-icon-sectionLocation { background-size: contain; } .wttasks-icon-sectionLocation:before { content: '\f3c5'; font: var(--fa-font-solid); }
.wttasks-icon-sectionReminder { background-size: contain; } .wttasks-icon-sectionReminder:before { content: '\f0f3'; font: var(--fa-font-solid); }
.wttasks-icon-sectionStart { background-size: contain; } .wttasks-icon-sectionStart:before { content: '\f783'; font: var(--fa-font-solid); }
.wttasks-icon-sectionStatus { background-size: contain; } .wttasks-icon-sectionStatus:before { content: '\f46d'; font: var(--fa-font-solid); }
.wttasks-icon-sectionSubject { background-size: contain; } .wttasks-icon-sectionSubject:before { content: '\f1dc'; font: var(--fa-font-solid); }
.wttasks-icon-viewAll { background-image: url('viewall_16.svg') !important; background-size: contain; }
.wttasks-icon-viewAll-grayed { background-image: url('viewall-grayed_16.svg') !important; background-size: contain; }
.wttasks-icon-viewCompleted { background-image: url('viewcompleted_16.svg') !important; background-size: contain; }
.wttasks-icon-viewCompleted-grayed { background-image: url('viewcompleted-grayed_16.svg') !important; background-size: contain; }
.wttasks-icon-viewLate { background-image: url('viewlate_16.svg') !important; background-size: contain; }
.wttasks-icon-viewLate-grayed { background-image: url('viewlate-grayed_16.svg') !important; background-size: contain; }
.wttasks-icon-viewNext7 { background-image: url('viewnext7_16.svg') !important; background-size: contain; }
.wttasks-icon-viewNext7-grayed { background-image: url('viewnext7-grayed_16.svg') !important; background-size: contain; }
.wttasks-icon-viewNotCompleted { background-image: url('viewnotcompleted_16.svg') !important; background-size: contain; }
.wttasks-icon-viewNotCompleted-grayed { background-image: url('viewnotcompleted-grayed_16.svg') !important; background-size: contain; }
.wttasks-icon-viewNotStarted { background-image: url('viewnotstarted_16.svg') !important; background-size: contain; }
.wttasks-icon-viewNotStarted-grayed { background-image: url('viewnotstarted-grayed_16.svg') !important; background-size: contain; }
.wttasks-icon-viewToday { background-image: url('viewtoday_16.svg') !important; background-size: contain; }
.wttasks-icon-viewToday-grayed { background-image: url('viewtoday-grayed_16.svg') !important; background-size: contain; }
/* ---------- ToolPanel */
.wttasks-tool-searchpanel-body {
    padding: 5px 5px 10px 5px;
}
/* ---------- Grid (tasks) */
.wttasks-row-completed { text-decoration: line-through; color: #808080; }
.wttasks-row-expired { color: #E60D35; }
/* ---------- Sonicle.webtop.tasks.ux.panel.TaskPreview */
.wttasks-preview-header > * > .x-panel-body {
	padding-left: 10px;
	padding-right: 10px;
}
.wttasks-preview-main > * > .x-panel-body, .wttasks-preview-cfields > * > .x-panel-body {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.wttasks-preview-taskstatus-info, .wttasks-preview-taskdue-info {
    margin-left: 5px;
}
.wttasks-preview-header-tbactions {
    padding-left: 10px;
}
.wttasks-preview-pane-title {
    font-size: 1.2em;
}
.wttasks-preview-pane-subtitle {
    font-size: 0.9em;
    color: #888888;
}
/* ---------- Portlet */
.wttasks-portlet-grid .x-grid-row.x-grid-row-with-rowbody .x-grid-cell-inner {
    padding-bottom: 2px;
}
.wttasks-portlet-task-body .x-grid-rowbody {
    padding-top: 0px;
}