.wttasks-icon-service-xs { background-image: url('service_16.png') !important; }
.wttasks-icon-service-s { background-image: url('service_24.png') !important; }
.wttasks-icon-service-m { background-image: url('service_32.png') !important; }
.wttasks-icon-service-l { background-image: url('service_48.png') !important; }
.wttasks-icon-root-my-xs { background-image: url('root-my_16.png') !important; }
.wttasks-icon-root-incoming-xs { background-image: url('root-incoming_16.png') !important; }
.wttasks-icon-category-xs { background-image: url('category_16.png') !important; }
.wttasks-icon-addCategory-xs { background-image: url('category-add_16.png') !important; }
.wttasks-icon-editCategory-xs { background-image: url('category-edit_16.png') !important; }
.wttasks-icon-deleteCategory-xs { background-image: url('category-delete_16.png') !important; }
.wttasks-icon-task-xs { background-image: url('task_16.png') !important; }
.wttasks-icon-newTask-xs { background-image: url('task-new_16.png') !important; }
.wttasks-icon-addTask-xs { background-image: url('task-add_16.png') !important; }
.wttasks-row-completed { text-decoration: line-through; color: #808080; }
.wttasks-row-expired { color: #E60D35; }
